$white: #fff;
$black:#000000;
$darkNavy:#000C2D;
$primaryFontBold: "CircularStd-Bold";
$primaryFontMedium: "CircularStd-Medium";
$primaryFontBook: "CircularStd-Book";


$sm: 540px;
$md: 740px;
$lg: 960px;
$xl: 1160px;
$xxl: 1320px;