.navbar {
    @include flex-row;
    justify-content: space-around;
    padding: 26px 0 18px;
    &__logo img {
        @media(max-width: $sm){
            width: 20vh ;
        }
    }
    > img {
        display: none;
        width: 10vh;
        margin-left: 30px;
        @media(max-width: $md){
            display: block;
            width: 5vh;
        }
    }
    &__menu{
        @include flex-row;
        align-items: center !important;
        @media(max-width: $md){
            display: none !important;
        }
        ul{
            @include flex-row;
            padding: 0 !important;
            margin: 0 !important;
            li {
                list-style-type: none;
                margin: 0 16px;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.03em;
                color: $darkNavy;
                font-family: $primaryFontMedium;
            }
        }
        button {
            margin-left: 39px;
            margin-right: 55px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.03em;
            background-color: $white;
            color: #2F70FE;
            border: 1px solid #2F70FE;
            padding: 12px 23px;
            font-family: $primaryFontMedium;
        }
        &-login {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.03em;
            color: $darkNavy;
            font-family: $primaryFontMedium;
            &::before {
                content: url('../img/person.png');
                margin-right: 4px;
            }
        }
    }
}
