section.home-section
    .home-section__title 
        h1 Find the right partners to fuel your business growth
        p Join a vibrant community of MSPs to forge long-lasting relationships with partners that help you create excellent customer experiences
        button Register today
    .home-section__logo-left 
        img(src="../img/imageleft.svg", alt="left logo")
    .home-section__logo-right
        img(src="../img/imageright.svg", alt="right logo")    