nav.navbar 
    .navbar__logo 
        img(src="../img/zomentum.png", alt="logo")
    .navbar__menu
        ul
            li Features
            li Integrations
            li Pricing
            li Company
            li Blog
        button Get a demo
        .navbar__menu-login Login   
    img(src="../img/burger.png", alt="") 