section.opportunities
    .opportunities__title List. Sell. Grow
    .opportunities__list
        .opportunities__list-item 
            img(src="../img/all in one platform.svg", alt="")
            p Be a part of the only  All-In-One platform for IT services 
        .opportunities__list-item 
            img(src="../img/find your next customer.svg", alt="")
            p Come closer to finding your next customer
        .opportunities__list-item 
            img(src="../img/grow your business.svg", alt="")
            p Grow your business with a single click
    img.lefttriangle(src="../img/triangles.png", alt="")    
    img.righttriangle(src="../img/triangles.png", alt="")